@import "../../Global/Variables/Global_Variables.css";

/* CONTACT FORM */
.contactForm .title{
    margin-bottom: 2rem;
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .contactForm p {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 3rem;
  }

  .button.full-width{
    background-color: var(--main-bg-colour);
    border: var(--main-bg-colour) !important;
    padding-inline: 3rem !important;
    padding-block: 1rem !important;
    font-family: var(--secondary-font) !important;
  }
  
  button:hover{
    background-color: #14496d !important;
  }
  
  .form-label{
    font-family: var(--secondary-font);
    font-weight: 300;
  }